ul.userList {
  list-style-type: circle;
}

.container{
  justify-content: center;
  margin-top: 10%;
  font-size: 15px;
}

.entry{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

p.user{
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}


button.edit{
  background-color: rgb(2, 80, 247);
  border: solid;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

button.delete{
  background-color: red;
  border: solid;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

button.add{
  background-color: rgb(9, 194, 9);
  border-radius: 10px;;
  border: solid;
  color: white;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}

